@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap");

* {
	margin: 0 auto;
	padding: 0px;
}

body {
	background-color: blanchedalmond;
	color: white;
	font-family: "Inknut Antiqua", serif;
	margin-top: 0px;
}

/* .layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
} */

nav {
	z-index: 2000;
	position: fixed;
	width: 100vw;
	display: flex;
	/* border: 1px red solid; */
	justify-content: center;
}
nav a {
	text-decoration: none;
	color: white;
	display: inline-block;
	margin: 0.5em;
	font-size: 0.8em;
	text-align: center;
	cursor: url(/favicon.ico) 15 15, auto;
}

footer {
	/* background: black; */
	color: #bbb;
	padding: 10px;
	text-align: center;
	margin-top: auto;
	font-size: 0.6em;
	/* z-index: 3000; */
	/* border: 2px green solid; */

	/* bottom: 0; */
	width: 100%;
	position: absolute;
	bottom: 0;
}
.page-content {
	width: 100%;
	box-sizing: border-box;
}

.about-text {
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.3em;
	position: absolute;
	margin: 15%;
}

.landing-page {
	position: relative;
}
.landing-page h1 {
	color: #370617;
	z-index: 1000;
	mix-blend-mode: difference;
	position: absolute;
	display: flex;
	/* opacity: 0.5; */
	height: 90%;
	width: 100%;
	font-size: 10rem;
	line-height: 9rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	pointer-events: none;
	/* border: 3px green solid; */
}

.landing-page h4 {
	z-index: 5000;
	position: absolute;
	text-align: center;
	width: 100%;

	color: white;
	/* border: 1px pink solid; */
	/* line-height: 3rem; */
	margin-top: 45vh;
	justify-content: center;
	align-items: center;
}

.landing-page h4:hover {
	/* transform: scale(1.05); */
	transition: all 1s linear;
	color: rgb(254, 60, 92);
	transition-delay: 0.4s;
}

.aframe-scene {
	/* border: black 2px solid; */
	width: 100vw;
	height: 100vh;
	filter: blur(40px);
}

.texture {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: url(/texture.png);
	background-size: auto;
	background-repeat: repeat;
	mix-blend-mode: overlay;
	opacity: 0.2;
	/* border: 1px red solid; */
	z-index: 1000;
	pointer-events: none;
}

.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	/* margin-right: -30px; */
	width: auto;
}

.my-masonry-grid_column {
	/* padding-left: 30px; */
	/* background-clip: padding-box; */
}

.project-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.project-text-box {
	/* color: blue; */

	position: absolute;
	z-index: 1000;
	opacity: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	mix-blend-mode: overlay;
	/* padding-bottom: -14px; */
	/* margin: 2rem; */
}

.project-text-box:hover {
	opacity: 1;
}

.img-in-grid {
	position: relative;
	/* background-color: blueviolet; */
	margin-bottom: -14px;
}

/* .img-in-grid:hover {
	filter: grayscale();
} */

.about-section {
	position: relative;
	transition: all 1s ease-in-out;
	min-height: 100vh;
	/* transition-delay: 3s; */
	animation-duration: 1s;
	animation-name: example;
	/* margin: 2rem;
	padding-top: 7rem; */
}

.background-image {
	border: lime 2px solid;
}

@keyframes example {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 500px) {
	.my-masonry-grid {
		margin-right: -30px;
	}
}
